<?xml version="1.0"?>
<auomatic_calibration>
	<path>
		<camera_inputs>../Content/camera_inputs</camera_inputs>
		<camera_models>../Content/camera_models</camera_models>
		<template>../Content/template</template>
	</path>
	<camera>
		<number>4</number>
		<camera1>
			<height>1280</height>
			<width>1920</width>
			<sf>7</sf>
			<roi>80</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>10</chessboard_num>
			<device>/base/soc/bus@42000000/i2c@42530000/max96724@27/i2c-mux/i2c@0/mx95mbcam@40</device>
		</camera1>
		<camera2>
			<height>1280</height>
			<width>1920</width>
			<sf>7</sf>
			<roi>80</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>10</chessboard_num>
			<device>/base/soc/bus@42000000/i2c@42530000/max96724@27/i2c-mux/i2c@1/mx95mbcam@40</device>
		</camera2>
		<camera3>
			<height>1280</height>
			<width>1920</width>
			<sf>7</sf>
			<roi>80</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>10</chessboard_num>
			<device>/base/soc/bus@42000000/i2c@42530000/max96724@27/i2c-mux/i2c@2/mx95mbcam@40</device>
		</camera3>
		<camera4>
			<height>1280</height>
			<width>1920</width>
			<sf>7</sf>
			<roi>80</roi>
			<contour_min_size>200</contour_min_size>
			<chessboard_num>10</chessboard_num>
			<device>/base/soc/bus@42000000/i2c@42530000/max96724@27/i2c-mux/i2c@3/mx95mbcam@40</device>
		</camera4>
	</camera>
	<display>
		<height>1080</height>
		<width>1920</width>
		<show_debug_img>0</show_debug_img>
		<max_fps>0</max_fps>
		<msaa>0</msaa>
	</display>
	<grid>
		<angles>60</angles>
		<start_angle>4</start_angle>
		<nop_z>30</nop_z>
		<step_x>0.2</step_x>
		<radius>1.5</radius>
	</grid>
	<mask>
		<smooth_angle>0.2</smooth_angle>
	</mask>
	<fb>
		<keyboard>/dev/input/by-path/platform-ci_hdrc.0-usb-0:1:1.0-event-kbd</keyboard>
		<mouse>/dev/input/by-path/platform-xhci-hcd.5.auto-usb-0:1:1.0-event-mouse</mouse>
		<display>/run/wayland-0</display>
	</fb>
	<car_model>
		<x_scale>1.6</x_scale>
		<y_scale>1.6</y_scale>
		<z_scale>1.6</z_scale>
	</car_model>
</auomatic_calibration>